{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css"
    />
    <link rel="stylesheet" href="{% url 'asset' 'style_css' %}" />
    <title>{{ project.title }}</title>
  </head>

  <body>
    <br />
    <div class="ui raised very padded text container segment" id="app">
      <button onclick="history.back()" class="ui icon button">
        <i class="arrow left icon"></i>
      </button>

      <h1>{{project.title}}</h1>
      <p>{{project.subtitle}}</p>

      {{project.description|safe}}
    </div>
  </body>
</html>
